.sidebar {
    width: 12%;
    min-width: 175px;
    border-width: 1px;
    border-style: solid;
    min-height: 100%;
    margin: 10px;
    padding: 5px;
    float: left;
}
.MainField {
    margin: 20px;
    width: 80%;
    float: right;
}