.mainPageSidebar {
    width: 12%;
    width: 175px;
    border-width: 1px;
    border-style: solid;
    min-height: 100%;
    margin: 10px;
    padding: 5px;
    float: left;
}
.MainField {
    margin: 20px;
    min-width: 500px;
    width: calc(100% - 175px - 60px);
    float: right;
}
img {
    max-width: 125px;
    max-height: 125px;
}
.itemTable > Table > tbody > tr :hover{
    background-color: aquamarine;
}
