* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.header {
    background-color: white;
    height: 60px;
}

.sidebar {
    background-color: #0A1F34;
    width: 180px;
    height: calc(100vh - 60px);
    float: left;
}

.content {
    background-color: #F6F6F6;
    float: right;
    width: calc(100% - 180px);
    height: calc(100vh - 60px);
    overflow-y: auto;
    padding: 10px;
}